/*HEADER*/

a {
    background: white;
    text-decoration: none;
    text-transform: uppercase;
}
.name {
    position: relative;
    font-size: 20px;
    line-height: 50px;
    left: 15px;
    font-family: 'Fredoka', sans-serif;
}
.name, .label {
    display: inline; 
}
.label {
    position: relative;
    font-size: .75em;
    right: 107px;
    top: 21px;
    font-family: 'Open Sans', sans-serif;
    color:rgb(177, 177, 177)   
}
.contact {
    position: absolute;
    right: 24px;
    top: 25px;
    font-size: 12px;
    font-family: 'Fredoka', sans-serif;
    color: rgb(177, 177, 177)
}
.work {
    position: absolute;
    right: 99px;
    top: 25px;
    font-size: 12px;
    font-family: 'Fredoka', sans-serif;
    color:rgb(0, 0, 0)
}

/*BODY*/

.image {
    top: 75px;
    scale: 90%;
}
.image__img {
    width: 100%;
}
 .image {
     height: auto;
 }

/*IMAGE 2*/

 .image2 {
    top: 75px;
    scale: 100%;
}
.image__img2 {
    display: block;
    width: 100%;
}
 .image2 {
     height: auto;
 }